@charset "utf-8";

/**
 * 定义图标字体的样式
 * .iconfont 类用于应用图标字体，确保图标正确显示
 */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * 定义图标字体文件
 * @font-face 规则用于声明图标字体，使其可在CSS中使用
 */
@font-face {
  font-family: "iconfont"; 
  src: url('fonts/iconfont.woff2') format('woff2'),
       url('fonts/iconfont.woff') format('woff'),
       url('fonts/iconfont.ttf') format('truetype');
}

/**
 * 定义阿里巴巴中等权重字体
 * @font-face 规则用于声明阿里巴巴中等权重字体，优化字体显示
 */
@font-face {
  font-family: 'Alibaba-Medium';
  src: url('fonts/AlibabaPuHuiTi-Medium.woff2') format('woff2'),
      url('fonts/AlibabaPuHuiTi-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/**
 * 定义阿里巴巴常规权重字体
 * @font-face 规则用于声明阿里巴巴常规权重字体，优化字体显示
 */
@font-face {
  font-family: 'Alibaba-Regular';
  src: url('fonts/AlibabaPuHuiTi-Regular.woff2') format('woff2'),
      url('fonts/AlibabaPuHuiTi-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/**
 * 定义阿里巴巴半粗体权重字体
 * @font-face 规则用于声明阿里巴巴半粗体权重字体，优化字体显示
 */
@font-face {
  font-family: 'Alibaba-SemiBold';
  src: url('fonts/AlibabaPuHuiTi_2_75_SemiBold.woff2') format('woff2'),
      url('fonts/AlibabaPuHuiTi_2_75_SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/**
 * 定义思源黑体粗体字体
 * @font-face 规则用于声明思源黑体粗体字体，适用于标题或需要强调的文本
 */
@font-face {
  font-family: 'SourceHanSansSC-bold';
  src: url('fonts/AlibabaPuHuiTi-2-85-Bold.otf');
}

/**
 * 定义思源黑体特粗体字体
 * @font-face 规则用于声明思源黑体特粗体字体，适用于需要强烈强调的文本
 */
@font-face {
  font-family: 'SourceHanSansSC-ExtraBold';
  src: url('fonts/AlibabaPuHuiTi-2-95-ExtraBold.otf');
}

/**
 * 定义Manrope半粗体字体
 * @font-face 规则用于声明Manrope半粗体字体，提供良好的阅读体验
 */
@font-face {
  font-family: 'Manrope-Semibold';
  src: url('fonts/Manrope3-Semibold.woff2') format('woff2'),
      url('fonts/Manrope3-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/**
 * 定义Manrope常规权重字体
 * @font-face 规则用于声明Manrope常规权重字体，提供良好的阅读体验
 */
@font-face {
  font-family: 'Manrope3-Regular';
  src: url('fonts/Manrope3-Regular.woff2') format('woff2'),
      url('fonts/Manrope3-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/**
 * 定义Manrope中等权重字体
 * @font-face 规则用于声明Manrope中等权重字体，提供良好的阅读体验
 */
@font-face {
  font-family: 'Manrope3-Medium';
  src: url('fonts/Manrope3-Medium.woff2') format('woff2'),
      url('fonts/Manrope3-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/**
 * 定义Poppins半粗体字体
 * @font-face 规则用于声明Poppins半粗体字体，适用于多种文本场景
 */
@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/**
 * 定义Poppins中等权重字体
 * @font-face 规则用于声明Poppins中等权重字体，适用于多种文本场景
 */
@font-face {
  font-family: 'Poppins-Medium';
  src: url('fonts/Poppins-Medium.ttf');
}
@font-face {  
    font-family: 'HarmonyOS_Sans_SC_Bold'; /* 自定义的字体名称 */  
    src: url('fonts/HarmonyOS_Sans_SC_Bold.ttf') format('truetype'); /* 字体文件的路径和格式 */  
    font-weight: 500; /* 可选，定义字体的粗细 */  
    font-style: normal; /* 可选，定义字体的风格，因为是斜体，所以这里明确指定 */  
} 

@font-face {  
    font-family: 'HarmonyOS_Sans_SC_Regular'; /* 自定义的字体名称 */  
    src: url('fonts/HarmonyOS_Sans_SC_Regular.ttf') format('truetype'); /* 字体文件的路径和格式 */  
    font-weight: 500; /* 可选，定义字体的粗细 */  
    font-style: normal; /* 可选，定义字体的风格，因为是斜体，所以这里明确指定 */  
} 

/* 重置各种HTML元素的默认样式，以确保跨浏览器的一致性 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0px;
  border: 0;
  font-size: 100%;
  outline: none;
}

/* 设置HTML元素的字体大小，并启用触摸滚动 */
html {
  font-size: 100%;
  -webkit-overflow-scrolling:touch;
}

/* 始终显示滚动条 */
body {
  font: 12px/1.8 "HarmonyOS_Sans_SC_Bold", "HarmonyOS_Sans_SC_Regular", "Microsoft Yahei", "微软雅黑", "Hiragino Sans GB", "冬青黑体", "Arial", "Helvetica", "SimHei", "黑体", "STXihei", "华文细黑", sans-serif;
  margin: 0 auto;
  color: #fff;
  background-color: #ffffff;
  _background-attachment: fixed;
  _background-image: url(about:blank);
  -webkit-text-size-adjust: 100% !important;
}

/* 当body元素应用noScroll类时隐藏滚动条 */
body.noScroll{
  overflow: hidden;
}

/* 将某些块级元素设置为块状显示 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 将input和select元素垂直居中对齐 */
input,
select {
  vertical-align: middle;
}

/* 移除有序列表和无序列表的默认样式 */
ol,
ul {
  list-style: none;
}

/* 移除blockquote和q元素的默认引号 */
blockquote,
q {
  quotes: none;
}

/* 清除blockquote和q元素的before和after伪元素的内容属性 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* 将strong元素的字体加粗 */
strong {
  font-weight: bold;
}

/* 移除input元素的默认轮廓和内边距 */
input {
  outline: none;
  padding: 0;
}

/* 移除img元素的默认边框 */
img {
  border: 0;
}

/* 移除特定类型的input元素和select元素的默认外观和圆角 */
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="reset"],
select {
  -webkit-appearance: none;
  border-radius: 0;
}

/* 移除textarea元素的默认外观、圆角、背景、轮廓、内边距、外边距和边框 */
textarea {
  -webkit-appearance: none;
  border-radius: 0;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
  border: none;
}

/* 设置Firefox中的文本选区样式 */
::-moz-selection {
  background: #000; /* 背景颜色改为黑色 */
  color: #fff; /* 字体颜色改为白色 */
  text-shadow: none;
  border-radius: 4px; /* 添加圆角 */
}

/* 设置其他浏览器中的文本选区样式 */
::selection {
  background: #000; /* 背景颜色改为黑色 */
  color: #fff; /* 字体颜色改为白色 */
  text-shadow: none;
  border-radius: 4px; /* 添加圆角 */
}

/* 为锚点元素应用过渡效果，实现状态变化的平滑过渡 */
a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* 移除链接和访问过的链接的文本装饰，并继承颜色 */
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

/* 移除活动和悬停状态下的链接的文本装饰，并继承颜色 */
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
}

/* 将应用fc类的元素的文本居中对齐 */
.fc {
  text-align: center;
}

/* 将应用fr类的元素的文本右对齐 */
.fr {
  text-align: right;
}

/* 将应用fl类的元素浮动到右侧 */
.fl{
  float: right;
}

/* 将应用vt类的元素的垂直对齐方式设置为顶部 */
.vt {
  vertical-align: top;
}

/* 将应用vm类的元素的垂直对齐方式设置为中间 */
.vm {
  vertical-align: middle;
}

/* 将应用inner类的容器居中显示，通过设置宽度和外边距 */
.inner {
  width: 1400px;
  margin: 0px auto;
}

/* Slick轮播组件的样式设置 */
.slick-list { position: relative; z-index: 0; overflow: hidden; width: 100%; height: 100%; }
.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1;}
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both;}

/* 弹出层背景样式 */
.popUpblack {
  background: #000 \9;
  filter: alpha(opacity=80);
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1010;
  display: none;
}

/* 弹出层样式 */
.popUp {
  width: 220px;
  border: 2px solid #E9A43F;
  background: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -87px 0 0 -115px;
  z-index: 1004;
}

/* 弹出层标题样式 */
.popUp .t {
  padding: 0 0 0 10px;
  height: 26px;
  line-height: 26px;
  color: #666;
  font-weight: bold;
  border-bottom: 1px solid #e8e8e8;
  background: #f2f2f2;
}

/* 弹出层关闭按钮样式 */
.popUp .t .close {
  padding: 0 10px 0 0;
  float: right;
  cursor: pointer;
  color: #666;
  font-weight: normal;
}

/* 为.popUp类中的.img类添加内边距 */
.popUp .img {
  padding: 20px;
}

/* 设置.popUp类中.img类的图片宽度为100%，并使其为块级显示 */
.popUp .img img {
  width: 100%;
  display: block;
}

/* 隐藏menubtn元素，设置其宽度、高度、位置等属性，以及过渡效果 */
.menubtn{
  display: none;
  width: 26px;
  height: 60px;
  position: relative;
  z-index: 20;
  float: right;
  cursor: pointer;
  transition: 0.4s;
}

/* 设置menubtn内span元素的样式，包括宽度、高度、背景色等 */
.menubtn span{
  margin-top: 30px;
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: relative;
  vertical-align: middle;
  transition-duration: .3s,.3s;
  transition-delay: .3s,0s;
}

/* 设置menubtn内span元素的伪元素样式，包括宽度、高度、背景色等 */
.menubtn span:after,
.menubtn span:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: #000;
  transition-duration: .3s,.3s;
  transition-delay: .3s,0s;
}

/* 设置span伪元素的位置和过渡属性 */
.menubtn span:before {
  top: -10px;
  transition-property: top, transform;
}

.menubtn span:after {
  bottom: -10px;
  transition-property: bottom, transform;
}

/* 设置menubtn激活状态下的span样式，背景色变透明，并调整过渡延迟 */
.menubtn.active span {
  background-color: transparent;
  transition-delay: 0s;
}

/* 调整menubtn激活状态下span伪元素的过渡延迟 */
.menubtn.active span:after,
.menubtn.active span:before {
  transition-delay: 0s, .3s;
}

/* 设置menubtn激活状态下span伪元素的位置和旋转角度 */
.menubtn.active span:before {
  top: 0px;
  transform: rotate(45deg);
}

.menubtn.active span:after {
  bottom: 0px;
  transform: rotate(-45deg);
}